<div class=container>
    <form #form="ngForm" class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label>First name <span class="danger">*</span></label>
        <input type="text" class="form-control"
            name="firstName" #fname="ngModel" [(ngModel)]="obj.firstName"  
            required minlength="{{ minChars() }}">
        <div class="danger">
            @if (fname.errors?.['required'] 
                && (fname.touched || fname.dirty) ) {
                <span>Required</span>
            } @else if (fname.errors?.['minlength'] ) {
                <span>Min {{ minChars() }} chars required</span>
            }
        </div>
    </div>
    <div class="col-md-4">
        <label>Last name <span class="danger">*</span></label>
        <input type="text"  class="form-control"
            name="lastName" #lname="ngModel" [(ngModel)]="obj.lastName"
            required minlength="{{ minChars() }}">
        <div class="danger">
            <span *ngIf="lname.errors?.['required'] && lname.touched ">Required</span>
            <span *ngIf="lname.errors?.['minlength']">Min {{ minChars() }} char required</span>
        </div>
    </div>
    <div class="col-md-4">
        <label>Username</label>
        <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
        <input type="text" class="form-control"
        name="username" [(ngModel)]="obj.username">
        </div>
    </div>
    <div class="col-md-6">
        <label>City</label>
        <input type="text" class="form-control"
            name="city" [(ngModel)]="obj.city">
    </div>
    <div class="col-md-3">
        <label>State</label>
        <select class="form-control"
            name="state" [(ngModel)]="obj.state">
        <option selected disabled value="">Choose...</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Zip</label>
        <input type="text" class="form-control"
            name="zipCode" [(ngModel)]="obj.zipCode">
    </div>
    <div class="col-12">
        <div class="form-check">
        <input type="checkbox" class="form-check-input"
            name="isAgreed" [(ngModel)]="obj.isAgreed">
        <label>Agree to terms and conditions</label>
        </div>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary" 
            [disabled]="form.invalid"
            (click)="onSave()">Submit form</button>
    </div>
    </form>
</div>