.container {
    position: sticky;
    bottom:0;
    height: 100%;
    padding: 0 3em;
    background-color: var(--danger-color);
    color: var(--background-color);
    opacity: 0.8;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 0.2em;
    border-radius: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}