.container {
    position: sticky;
    top:0;
    height: 100%;
    padding: 0 3em;
    background-color: var(--primary-color);
    color: var(--background-color);
    opacity: 0.8;
    border-style: solid;
    border-color: var(--danger-color);
    border-width: 0.2em;
    border-radius: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    
}
h1 {
    cursor: pointer;
}