<div class="container">
    <h1 routerLink="/">{{ appName() }}</h1>
    <nav>
        <a href="https://github.com/piturriagit/Angular/tree/main" target="_blank" class="tooltip">FE<span class=tooltiptext>FrontEnd code in GitHub</span></a>
        <a href="https://github.com/piturriagit/corenetworks" target="_blank" class="tooltip">BE<span class=tooltiptext>BackEnd code in GitHub</span></a>
        <a href="http://localhost:8080/swagger-ui/index.html" target="_blank" class="tooltip">API<span class=tooltiptext>API in Swagger</span></a>
        <a href="http://localhost:8080/h2-console" target="_blank" class="tooltip">DB<span class=tooltiptext>DB H2 (db, db1)</span></a>

        <div routerLink="authentication" class="tooltip">
            <app-image-icon [imageSrc]="authImage()" [imageAlt]="authAlt()" />
            <span class=tooltiptext>{{ authAlt() }}</span>
        </div>
    </nav>
</div>