<div class="board">
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    <div><app-card-task /></div>
    
</div>
