.container {
    background-color: yellow;
    display: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
}
.loading {
    width: 100%;
    text-align: center;
    font-size: larger;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
}
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 2em;
    padding: 0 1em;
    gap:1em;
}