.container {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
}
.loading {
    width: 100%;
    text-align: center;
    font-size: larger;
}