.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-rows: 4em auto 2em;
    height: 100%;
    padding: 1em;
}
header {
    grid-area: header;
    position: sticky;
    top:0;
}
main {
    grid-area: main;
    padding: 0 2em;
    
}
footer {
    grid-area: footer;
    position: sticky;
    bottom:0;
}