<form action="/action_page.php">
  <label for="name">Task</label>
    <input type="text" id="name" name="name" 
      placeholder="New task name..."
      [(ngModel)]="task().title"  >
    <label for="description">Description
    </label>
    <textarea id="description" name="description" 
      placeholder="Fill some details if you want..." 
      maxlength="255"  rows="2" cols="50">{{ task().description }}</textarea>
    <div class="buttons">
      <button (click)="addTask()">
        <app-image-icon [imageSrc]="buttonOk()" />
      </button>
      <button (click)="cancel()">
        <app-image-icon [imageSrc]="buttonCancel()" />
      </button>
  </div>
</form>