form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2em;
    padding: 1em;
}
label {
    padding:1em;
}
textarea, input {
    min-height: 1em;
    border-style: solid;
    border-width: 0.2em;
    border-color: var(--primary-color);
    border-radius: 2em;
    padding: 1em;
    background-color: var(--background-color);
}