form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 0.3em;
}
textarea, input {
    min-height: 1em;
    border-style: solid;
    border-width: 0.2em;
    border-color: var(--primary-color);
    border-radius: 2em;
    padding: 1em;
    background-color: var(--background-color);
}