<div class="container">
    <div class="top">
        <button (click)="newTask()">
            <app-image-icon [imageSrc]="buttonAdd()" />New task
        </button>
        <button (click)="deleteList()">Remove all tasks<app-image-icon [imageSrc]="buttonDeleteAll()" />
        </button>
    </div>
    @if(isFormVisible()) {
        <form [formGroup]="form">
            @if (task.id != 0) {
                <label>ID <span class="danger">*</span></label>
                <input type="text" formControlName="id"
                    [(ngModel)]="task.id" name="id"
                    required>    
            }
            <label>Title <span class="danger">*</span></label>
            <input type="text" formControlName="title"
                [(ngModel)]="task.title" name="title"
                required minlength="{{ minChars() }}">
            <label>Description</label>
            <input type="text" formControlName="description"
                [(ngModel)]="task.description" name="description">
            <div class="danger">
                @if(form.controls['title'].errors?.['required'] && form.controls['title'].touched && form.controls['title'].dirty) {
                    <span>Title is required</span>
                } @else if(form.controls['title'].errors?.['minlength']) {
                    <span>Title requires min of {{ minChars() }} chars</span>
                }
            </div>
            @if (task.id == 0) {
                <button type="submit" (click)="addTask()"
                    [disabled]="form.invalid">
                    <app-image-icon [imageSrc]="buttonSave()" />Add
                </button>
                <button type="reset" (click)="resetTaks()">
                    <app-image-icon [imageSrc]="buttonReset()" />Reset
                </button>
            } @else {
                <button type="submit" (click)="updateTask()"
                    [disabled]="form.invalid"><app-image-icon [imageSrc]="buttonSave()" />Update</button>
            }
            <button type="button" (click)="cancel()">
                <app-image-icon [imageSrc]="buttonCancel()" />Cancel
            </button>
        </form>
    }
    <div class="task-board">
        <ul>
            @for ( task of tasksList ; track task.id ) {
                <li class="card">
                    <div class="content">
                        <h3 class="title">{{ task.id }} - {{ task.title }}</h3>
                        <p class="details">{{ task.description }}</p>
                        <p class="date" appdateexpired >{{ task.creationDate | date:'dd/MMM/yyyy' }}</p>
                    </div>
                    <div class="actions">
                        <button type="button" (click)="editThisTask(task)">
                            <app-image-icon [imageSrc]="buttonEdit()" />Edit
                        </button>
                        <button type="button" (click)="deleteThisTask(task)">
                            <app-image-icon [imageSrc]="buttonDelete()" />Delete
                        </button>
                    </div>
                </li>
            }
            </ul>
    </div>
</div>