.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 0.5em;
    padding: 1em 0;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding: 0 1em;
    gap:1em;
}

/* CARD for every task */
.card {
    display: grid;
    grid-template-columns: auto 2em;    
    border-style: solid;
    border-width: 0.2em;
    border-color: var(--primary-color);
    border-radius: 2em;
    background-color: var(--background-color);
    height: 5em;
    min-width: 18em;;
}
.content {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5em;
    width: 100%;
}

/* FORM */
form {
    position: fixed;
    top:5em;
    left: 5em;
    z-index: 1;
    width: 80%;
    background-color: var(--contrast-light-color);
    padding: 1em;
    border-style: solid;
    border-width: 0.2em;
    border-color: var(--primary-color);
    border-radius: 2em;
}
.error {
    color: var(--error-color);
    font-size: 0.6em;
}

/* BUTTONS */
.actions-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0.1em;
}
.actions-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}
button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button:disabled {
    cursor: not-allowed;
}
button:disabled > img {
    opacity: 0.3;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 8em;
  background-color: var(--contrast-color);
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1s;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}