  <form #taskForm="ngForm">
    <div [hidden]="taskForm.submitted">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control"
                    required minlength="{{ minChars }}"
                    [(ngModel)]="task.title" #title="ngModel">
            @if (title.invalid && (title.dirty || title.touched)) {
                <div class="message">
                    @if (title.hasError('required')) {
                    <div class="error">* required</div>
                    } @else if (title.hasError('minlength')) {
                        <div class="error">* min {{ minChars }} chars</div>
                    } @else {
                    <div class="hidden">ok</div>
                    }
                </div>
            }
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control"
                    [(ngModel)]="task.description" #description="ngModel">
        </div>
        <button type="submit" [disabled]="taskForm.invalid">
            <app-image-icon [imageSrc]="buttonSubmit()" />
        </button>
        <button type="button" (click)="taskForm.resetForm({})">
            <app-image-icon [imageSrc]="buttonReset()" />
        </button>
        <button type="button" (click)="goHome()">
            <app-image-icon [imageSrc]="buttonCancel()" />
        </button>
    </div>
    @if (taskForm.submitted) {
      <div class="submitted-message">
        <p>You've submitted your task, {{ taskForm.value.title }}!</p>
        <button type="button" (click)="taskForm.resetForm({})">
            <app-image-icon [imageSrc]="buttonReset()" />
        </button>
        <button type="button" (click)="goHome()">
            <app-image-icon [imageSrc]="buttonCancel()" />
        </button>
        <button type="button" (click)="taskForm.resetForm({})">Add new task</button>
        <button type="button" (click)="goHome()">Go back</button>
      </div>
    }
</form>